<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.emergent.android.weave"
          android:versionName="1.0.0" android:versionCode="1">

  <!-- History:
  1.0.0 [1]: 2010-07-07
  -->

  <uses-permission android:name="android.permission.INTERNET"/>
<!--
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
  <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
-->

  <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:allowClearUserData="true"
      >

    <activity android:name=".MainActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".BookmarkListActivity" android:label="Bookmark Activity"
              android:theme="@android:style/Theme.NoTitleBar"
        >
    </activity>

    <activity android:name=".PasswordListActivity" android:label="Password Activity"
              android:theme="@android:style/Theme.NoTitleBar"
        >
    </activity>

    <activity android:name=".TabListActivity" android:label="Tab Activity"
              android:theme="@android:style/Theme.NoTitleBar"
        >
    </activity>

    <activity android:name=".syncadapter.LoginActivity"
              android:label="@string/ui_activity_title"
              android:excludeFromRecents="true"
        >
    </activity>

    <activity android:name=".ApplicationOptionsActivity"
              android:label="@string/appopts_activity_title"/>

    <activity android:name=".BookmarkEditActivity"
              android:theme="@android:style/Theme.NoTitleBar"
        />

    <activity android:name=".PasswordEditActivity"
              android:theme="@android:style/Theme.NoTitleBar"
        />

    <activity android:name=".syncadapter.AccountOptionsActivity"/>

<!--
    <activity android:name=".syncadapter.AuthenticatorActivity"
              android:label="@string/ui_activity_title"
              android:excludeFromRecents="true"
        >
    </activity>

    <service android:name=".syncadapter.AuthenticationService">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data android:name="android.accounts.AccountAuthenticator"
                 android:resource="@xml/authenticator"/>
    </service>

    <service android:name=".syncadapter.PasswordSyncService">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data android:name="android.content.SyncAdapter"
                 android:resource="@xml/password_syncadapter"/>
    </service>

    <service android:name=".syncadapter.BookmarkSyncService">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data android:name="android.content.SyncAdapter"
                 android:resource="@xml/bookmark_syncadapter"/>
    </service>
-->

    <provider android:name=".persistence.BookmarkContentProvider"
              android:label="@string/bookmark_provider_label"
              android:authorities="org.emergent.android.weave.bookmarkcontentprovider"
              android:exported="false"
              android:syncable="true"
        />

    <provider android:name=".persistence.PasswordContentProvider"
              android:label="@string/password_provider_label"
              android:authorities="org.emergent.android.weave.passwordcontentprovider"
              android:exported="false"
              android:syncable="true"
        />

  </application>

  <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>
  <supports-screens android:normalScreens="true" android:smallScreens="true" android:largeScreens="true"/>

</manifest>
